@font-face {
  src: url('../assets/SFAlienEncounters.ttf');
  font-family: 'SF Alien Encounters';
}

@font-face {
  src: url('../assets/Streamster.ttf');
  font-family: 'Streamster';
}

@font-face {
  src: url('../assets/NeonGlow-8VLz.ttf');
  font-family: 'Neon Glow';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/bg-img.png') center center no-repeat;
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.backdrop {
  background: linear-gradient(
    hotpink 6%,
    ghostwhite,
    gainsboro,
    darkgrey,
    darkgrey 24%,
    rgb(90, 216, 238),
    rgb(90, 216, 238) 60%,
    rgb(129, 129, 129) 65%,
    rgb(255, 255, 255) 71%,
    hotpink,
    hotpink 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

h1 {
  text-transform: uppercase;
  font-size: 5em;
  font-family: 'SF Alien Encounters', sans-serif;
  font-weight: 400;
}

h2 {
  font-family: 'Streamster';
  letter-spacing: 7px;
  font-size: 2em;
  margin-bottom: 12rem;
  color: #fff;
  animation: glow 850ms linear infinite alternate;
  -webkit-animation: glow 850ms linear infinite alternate;
  -moz-animation: glow 850ms linear infinite alternate;
  -o-animation: glow 850ms linear infinite alternate;
}

p {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  font-family: 'Neon Glow', sans-serif;
  font-size: 2.1em;
  color: #fff;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
    0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
}

p span:nth-child(1) {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  animation: flicker 3000ms linear infinite;
  -webkit-animation: flicker 3000ms linear infinite;
  -moz-animation: flicker 3000ms linear infinite;
  -o-animation: flicker 3000ms linear infinite;
}

p span:nth-child(2) {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  animation: flicker 2000ms linear infinite alternate;
  -webkit-animation: flicker 2000ms linear infinite alternate;
  -moz-animation: flicker 2000ms linear infinite alternate;
  -o-animation: flicker 2000ms linear infinite alternate;
}

p span:nth-child(3) {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  animation: flicker 4500ms linear infinite alternate;
  -webkit-animation: flicker 4500ms linear infinite alternate;
  -moz-animation: flicker 4500ms linear infinite alternate;
  -o-animation: flicker 4500ms linear infinite alternate;
}

@-webkit-keyframes flicker {
  0%,
  19% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }
  21%,
  69% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }
  71%,
  79% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }
  81%,
  100% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }

  20%,
  70%,
  80% {
    text-shadow: none;
  }
}

@-moz-keyframes flicker {
  0%,
  19% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }
  21%,
  69% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }
  71%,
  79% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }
  81%,
  100% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }

  20%,
  70%,
  80% {
    text-shadow: none;
  }
}

@-o-keyframes flicker {
  0%,
  19% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }
  21%,
  69% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }
  71%,
  79% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }
  81%,
  100% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }

  20%,
  70%,
  80% {
    text-shadow: none;
  }
}

@keyframes flicker {
  0%,
  19% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }
  21%,
  69% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }
  71%,
  79% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }
  81%,
  100% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 2px cyan,
      0 0 4px cyan, 0 0 6px cyan, 0 0 10px cyan, 0 0 14px cyan;
  }

  20%,
  70%,
  80% {
    text-shadow: none;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px hotpink,
      0 0 12px hotpink, 0 0 16px hotpink, 0 0 20px hotpink, 0 0 30px hotpink,
      0 0 40px hotpink, 0 0 60px hotpink;
  }

  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px hotpink,
      0 0 6px hotpink, 0 0 8px hotpink, 0 0 12px hotpink, 0 0 16px hotpink,
      0 0 20px hotpink, 0 0 30px hotpink;
  }
}

@-moz-keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px hotpink,
      0 0 12px hotpink, 0 0 16px hotpink, 0 0 20px hotpink, 0 0 30px hotpink,
      0 0 40px hotpink, 0 0 60px hotpink;
  }

  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px hotpink,
      0 0 6px hotpink, 0 0 8px hotpink, 0 0 12px hotpink, 0 0 16px hotpink,
      0 0 20px hotpink, 0 0 30px hotpink;
  }
}

@-o-keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px hotpink,
      0 0 12px hotpink, 0 0 16px hotpink, 0 0 20px hotpink, 0 0 30px hotpink,
      0 0 40px hotpink, 0 0 60px hotpink;
  }

  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px hotpink,
      0 0 6px hotpink, 0 0 8px hotpink, 0 0 12px hotpink, 0 0 16px hotpink,
      0 0 20px hotpink, 0 0 30px hotpink;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px hotpink,
      0 0 12px hotpink, 0 0 16px hotpink, 0 0 20px hotpink, 0 0 30px hotpink,
      0 0 40px hotpink, 0 0 60px hotpink;
  }

  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px hotpink,
      0 0 6px hotpink, 0 0 8px hotpink, 0 0 12px hotpink, 0 0 16px hotpink,
      0 0 20px hotpink, 0 0 30px hotpink;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 8em;
  }
  h2 {
    font-size: 4em;
    letter-spacing: 12px;
  }
  p {
    font-size: 4.2em;
  }
}

@media screen and (max-height: 500px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    margin-bottom: 3rem;
    font-size: 1.7em;
  }
  p {
    bottom: 1rem;
    font-size: 1.8em;
  }
}
